<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
</head>
<body bgcolor="lightblue">
    <marquee behaviour="scroll" bgcolor="pink">
        hello
    </marquee>
    <dl type="a">
        <dt>cse</dt>
        <dd>ece</dd>
    </dl>
    <table border="3" bgcolor="yellow" align="center">
        <caption>
            Time Table
        </caption>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>class</th>
        </tr>
        <tr>
            <th>157</th>
            <th>venky</th>
            <th>s-16</th>
        </tr>
    </table>
    <form>
       First Name <input type="text" name="first name"><br><br>
        Last Name<input type="text" name="last name"><br><br>
        PassWord<input type="password" name="pwd"><br>
        Mobile number<input type="number" name="number"><br>
Male Gender <input type="radio" name="gn" value="male"><br>
Female Gender <input type="radio" name="gn" value="female">
    </form>
</body>
</html>