<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}" />
</head>
<body>
<h1>Registration form</h1><br>
    <form action="http://localhost:5000/form/example" method="POST">
       <input type="text" name="stud_name" placeholder="enter name"><br>
       <input type="text" name="stud_number" placeholder="enter number"><br>
        <input type="submit" value="clik hear">
    </form>
</body>
</html>